@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border-radius: 40%;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}


.container{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    
}


.navbar{
    padding: 12px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: space-between;

    
}



.logo{
    
    width: 20px;
    margin-right: 5px;
}

.logo img{
    width: 30px;
}

.logo-name img{
    width: 60px;
    margin-left: 12px;
    
}

.surch{
    display: flex;
    flex: 1;
    padding: 10 24px;
    margin-left: 20px;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    width: 70%;
    
}

.search {
    width: 70%;
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.nav{
    display: flex;
}

button{
    padding: 12px 16px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    transition: 330ms color;
}

.nav button:last-child{
    background-color: #fff;
}

.nav button:first-child{
    color: rgb(218, 203, 203);
}

.nav button:last-child:hover{
    color: rgba(255,0,0, 0.7);
}

.img{
    max-height: 300px;

}

.cart{
    max-height: 500px;

}

.details{
    max-height: 15000px;
}